html {
  --transparent-container-background: rgba(168, 210, 220, 0.05);
  --light-gray: rgb(128, 128, 128);
  --coinblock-exchange-gray: rgb(34, 34, 34);
}

a:link {
  color: white;
  border-radius: 10px;
  background: linear-gradient(0deg, var(--transparent-container-background), rgba(34, 34, 34,.1) 80%);
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex: 1;
  border-top: 1px solid transparent;
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

a:visited {
  color: white;
  background-color: rgba(0,0,0,.1);
  border-top: 1px solid transparent;
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

a:hover {
  color: white;
  background-color: rgba(0,0,0,.1);
  border-top: 1px solid red;
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

a:active {
  color: white;
  background-color: rgba(0,0,0,.1);
  border-top: 1px solid green;
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

h3 {
  font-weight: initial;
  font-size: 26px;
}

body {
  color: white;
  height: 100vh;
  display: flex;
  background: radial-gradient(0deg, rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/light-background.jpg');
  background-position-y: 60%;
  background-size:cover;
}

input {
  background-color: #555555;
  color: #FFFFFF;
  border-style: double;
  border-width: 1px;
  border-color: #989898;
}

#root {
  width: 100vw;
  flex: 1;
  display: flex;
}

.app {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 100%;
}

.app__header__title {
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.app__header__currency-toggle {
  float: right;
}

.app__header__currency-toggle__dollar,
.app__header__currency-toggle__bitcoin {
  border: 1px solid black;
  width: 60px;
  height: 24px;
}

.app__panel {
  height: 550px;
  width: 1150px;
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__panel__bottom {
  padding: 30px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.app__panel__bottom h3 {
  margin-top: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.app_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: .1;
  width: 100vw;
  background-color: #222;
}

.coin-info {
  background-color: var(--transparent-container-background);
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coin-info > * {
  flex: 1;
}

.coin-info__image {
  max-width: 120px;
  max-height: 120px;
  background: white;
}

.coin-info__values {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.coin-info__identifier {
  flex: .2;
}

.coin-info__identifier,
.coin-info__values__last,
.coin-info__values__volume {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coin-info__identifier__name,
.coin-info__values__last__title,
.coin-info__values__volume__title {
  padding-bottom: 10px;
  font-size: 16px;
}

.coin-info__identifier__name {
  flex: 0;
}

.coin-info__identifier__symbol {
  font-size: 14px;
  text-align: center;
  width: 65px;
}

.coin-info__values__last__value,
.coin-info__values__volume__value {
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.coin-info__values__charts {
  flex: 0;
  background-color: #222;
}


.coin-info__values__charts__link {
  max-width: 275px;
}

.tickers {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tickers__list {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  flex: 1;
  background: purple;
}

.order {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.order__tools {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
}

.order__tools__selection {
  display: flex;
}

.order__tools__selection__buy,
.order__tools__selection__sell {
  flex: 1;
  padding: 20px;
  font-size: 16px;
}

.order__tools__selection__buy:link,
.order__tools__selection__buy:visited,
.order__tools__selection__buy:hover,
.order__tools__selection__buy:active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.order__tools__selection__sell:link,
.order__tools__selection__sell:visited,
.order__tools__selection__sell:hover,
.order__tools__selection__sell:active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
}

.order__tools__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.order__tools__form__head-line {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: var(--transparent-container-background);
}

.order__tools__form__head-line > div {
  flex: 1;
}

.order__tools__form__fields {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order__tools__form__fields__field {
  display: flex;
  flex-direction: row;
}

.order__tools__form__fields__field__currency-abbreviation {
  color: #FFFFFF;
  background-color: var(--transparent-container-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  white-space: nowrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.order__tools__form__fields__field__limit {
  margin: 5px 0px 5px 5px;
}

.order__tools__form__fields__field__market {
  margin: 5px 5px 5px 0px;
}

.order__tools__form__fields__field__label {
  width: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__tools__form__fields__field input {
  flex: 1;
  height: 20px;
  font-size: 24px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.order__tools__form__fields__field a:active {
  color: white;
  background-color: black;
}

.order__tools__form__head-line__buy-token-message {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.order__tools__form__head-line__available-market-currency {
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.order__tools__selection__submit-order__button {
  font-size: 20px;
}

.positions-and-orders {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.positions, .orders {
  flex: 1;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  background: purple;
}

.positions {
  margin-bottom: 30px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
