html {
  --dark-transparent-blue: rgba(168, 210, 220, 0.05);
  --light-transparent-blue: rgba(176, 214, 223, .01);
  --light-transparent-gray: rgba(128, 128, 128, 0.01);
  --light-gray: rgb(128, 128, 128);
  --coinblock-exchange-gray: rgb(34, 34, 34, .9);
  --coinblock-exchange-gray-transparent: rgba(34, 34, 34,.1);
  --purple: rgb(153, 33, 153);
  --dark--purple: rgb(87, 34, 87);
  --system-font: "Courier New", Courier, monospace;
  --fancy-font: Georgia, 'Times New Roman', Times, serif;
}

a:link {
  color: white;
  background: linear-gradient(0deg, var(--dark-transparent-blue), var(--light-transparent-blue) 80%);
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex: 1;
  border-top: 1px solid transparent;
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

a:visited {
  color: white;
  background-color: rgba(0,0,0,.1);
  border-top: 1px solid transparent;
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

a:hover {
  color: white;
  background-color: rgba(0,0,0,.1);
  border-top: 1px solid var(--dark-transparent-blue);
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

a:active {
  color: white;
  background-color: rgba(0,0,0,.1);
  border-top: 1px solid green;
  border-right: 1px solid var(--coinblock-exchange-gray);
  border-bottom: 1px solid transparent;
}

h3 {
  font-weight: initial;
  font-size: 26px;
}

body {
  color: white;
  height: 100vh;
  display: flex;
  background: radial-gradient(0deg, rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/light-background.jpg');
  background-position-y: 60%;
  background-size:cover;
}

input {
  background-color: #555555;
  color: #FFFFFF;
  border-style: double;
  border-width: 1px;
  border-color: #989898;
}

/* Transition decorations */

.lightup-decoration {
  filter: brightness(100%);
}

.lightup-decoration:hover {
  filter: brightness(110%);
}

/* Main app */

#root {
  width: 100vw;
  flex: 1;
  display: flex;
}

.app {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 5, 0.85);
}

video.app__background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 768px) {
  video {
    display:none;
  }
  body{
    background-image:url(/light-background.jpg);
  }
}

.app__header {
  background-color: var(--coinblock-exchange-gray);
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 100%;
}

.app__header__title {
  font-size: 1.5em;
  font-family: var(--fancy-font);
}

.app__header__currency-toggle {
  float: right;
}

.app__header__currency-toggle__dollar,
.app__header__currency-toggle__bitcoin {
  border: 1px solid black;
  width: 60px;
  height: 24px;
}

.app__panel {
  max-height: 650px;
  width: 1150px;
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__panel__bottom {
  padding: 30px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.app__panel__bottom > div {
  margin: 10px;
}

.app__panel__bottom h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: var(--fancy-font);
}

.app_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: .1;
  width: 100vw;
  background-color: var(--coinblock-exchange-gray);
}

.coin-info {
  background: linear-gradient(var(--dark-transparent-blue), var(--light-transparent-blue));
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coin-info > * {
  flex: 1;
}

.coin-info__image {
  max-width: 120px;
  max-height: 120px;
}

.coin-info__values {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.coin-info__identifier {
  flex: .2;
}

.coin-info__identifier,
.coin-info__values__price,
.coin-info__values__volume {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coin-info__identifier__name,
.coin-info__values__price__title,
.coin-info__values__volume__title {
  padding-bottom: 10px;
  font-size: 16px;
}

.coin-info__identifier__name {
  flex: 0;
}

.coin-info__identifier__symbol {
  font-size: 14px;
  text-align: center;
  width: 65px;
}

.coin-info__values__price__value,
.coin-info__values__volume__value {
  font-size: 32px;
  font-family: var(--fancy-font);
  color: white;
}

.coin-info__values__charts {
  flex: 0;
  background-color: var(--coinblock-exchange-gray);
}


.coin-info__values__charts__link {
  max-width: 275px;
}

.tickers {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--light-transparent-blue);
}

.data__list {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  flex: 1;
  overflow: hidden;
  background: var(--dark--purple);
  font-family: var(--system-font);
}

.data__list__header {
  background: var(--dark--purple);
  font-weight: bold;
}

.data__list__ticker:nth-child(even) {
  background: var(--purple);
}

.data__list__ticker:nth-child(odd) {
  background: var(--dark--purple);
}

.data__list__header,
.data__list__ticker {
  text-align: left;
}

.data__list__header {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  text-align: center;
}

.data__list__header > div,
.data__list__ticker > div {
  flex: 1;
}

.data__list__ticker {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
}

.data__list__header > div {
  text-align: left;
}

.order {
  flex: 1;
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--light-transparent-blue);
}

.order__tools {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.order__tools__selection {
  display: flex;
}

.order__tools__selection__buy,
.order__tools__selection__sell {
  flex: 1;
  padding: 20px;
  font-size: 16px;
}

.order__tools__selection__buy:link,
.order__tools__selection__buy:visited,
.order__tools__selection__buy:hover,
.order__tools__selection__buy:active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.order__tools__selection__sell:link,
.order__tools__selection__sell:visited,
.order__tools__selection__sell:hover,
.order__tools__selection__sell:active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
}

.order__tools__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.order__tools__form__head-line {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: var(--dark-transparent-blue);
}

.order__tools__form__head-line > div {
  flex: 1;
}

.order__tools__form__fields {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--light-transparent-gray);
}

.order__tools__form__fields__field {
  display: flex;
  flex-direction: row;
}

.order__tools__form__fields__field__rate {
  width: 130px;
}

.order__tools__form__fields__field__currency-abbreviation {
  color: #FFFFFF;
  background-color: var(--dark-transparent-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  white-space: nowrap;
  font-family: var(--fancy-font);
}

.order__tools__form__fields__field__limit {
  margin: 5px 0px 5px 5px;
}

.order__tools__form__fields__field__market {
  margin: 5px 5px 5px 0px;
}

.order__tools__form__fields__field__label {
  width: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__tools__form__fields__field input {
  flex: 1;
  height: 20px;
  font-size: 24px;
  padding: 10px;
  font-family: var(--fancy-font);
}

.order__tools__form__fields__field a:active {
  color: white;
  background-color: black;
}

.order__tools__form__head-line__buy-token-message {
  text-align: left;
  font-family: var(--fancy-font);
}

.order__tools__form__head-line__available-market-currency {
  text-align: right;
  font-family: var(--fancy-font);
}

.order__tools__selection__submit-order__button {
  font-size: 20px;
  border-radius: 0;
}

.positions-and-orders {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--light-transparent-blue);
}

.positions, .orders {
  display: flex;
  flex-direction: column;
}

.positions {
  margin-bottom: 20px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
